.con{
   width: 200px;
   height: 200px;
   border: 10px solid green;

}
.bot{
   background:darkgreen;
   color: white;
   border: 2px;
   margin-left: 80px;
   margin-top: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 20px;
}